

        body {
            font-family: Arial, sans-serif;
            padding: 30px;
            background-color: cadetblue;
          
        }

        form {
            max-width: 400px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 14px;
        }

        .error {
            color: red;
            font-size: 13px;
            margin-bottom: 10px;
        }

        button {
            padding: 10px;
            width: 100%;
            font-size: 16px;
            cursor: not-allowed;
            background-color: gray;
            color: white;
            border: none;
        }

        button.enabled {
            background-color: green;
            cursor: pointer;
        }
    